vti_encoding:SR|utf8-nl
vti_httpdversion:SX|Microsoft-IIS/4.0
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|11 Jan 2002 15:05:22 +0900
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|ホーム
vti_webservertype:SR|msiis
vti_vidlayoutname:SW|
vti_dependenciesood:IR|0
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1105
vti_navbuttonprevlabel:SR|戻る
vti_textextensions:SX|.txt.txt.
vti_defaultcharset:SR|x-sjis
vti_welcomenames:VX|Default.htm Default.asp
vti_defaultlanguage:SR|ja
vti_navbuttonuplabel:SR|上へ
vti_textmemory:BW|true
vti_vidthemename:SW|
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|次
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport
