vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage DBW
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|19 Feb 2003 15:31:59 +0900
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|ホーム
vti_webservertype:SR|diskweb
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_navbuttonprevlabel:SR|戻る
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|x-sjis
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|ja
vti_navbuttonuplabel:SR|上へ
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|次
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
